<!-- Inicio del toolbar -->
<mat-toolbar color="primary">
  <span class="d-none d-sm-block">Mis listas</span>
  <span class="example-spacer"></span>
  <button mat-icon-button
          (click)="mostrarBuscador = !mostrarBuscador"
          class="example-icon mr-3"
          aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-flat-button
          color="accent"
          (click)="mostrarCreador = !mostrarCreador">Crear lista</button>
  <button mat-flat-button
          *ngIf="!listsManagerService.esInvitado"
          class="ml-1 botonGuardarNube"
          (click)="listsManagerService.setDatosDDBB()">Guardar <mat-icon class="text-white">cloud</mat-icon></button>
</mat-toolbar>
<!-- Fin del toolbar -->

<!-- Inicio del buscador -->
<div class="row animate__animated animate__fadeInDown sombra "
     style="background-color: #3f51b5b4;"
     *ngIf="mostrarBuscador">
  <div class="col-4 offset-sm-8 mt-2">
    <mat-form-field class="example-form-field">
      <mat-label class="text-white">Buscar</mat-label>
      <input matInput
             type="text"
             #filtro
             autocomplete="off"
             (keyup)="filtrar(filtro.value)">
      <button mat-button
              *ngIf="filtro.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="filtrar(''); filtro.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div class="row animate__animated animate__fadeInDown sombra "
     style="background-color: #ffd740bd;"
     *ngIf="mostrarCreador">
  <div class="col-4 offset-sm-8 mt-2">
    <mat-form-field class="example-form-field">
      <mat-label>Nombre nueva lista</mat-label>
      <input matInput
             type="text"
             #nombreNuevaLista
             (keyup.enter)="crearLista(nombreNuevaLista.value)"
             autocomplete="off">
      <button mat-button
              *ngIf="nombreNuevaLista.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="crearLista(''); nombreNuevaLista.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button
            color="primary"
            class="ml-2"
            (click)="crearLista(nombreNuevaLista.value)">Crear lista</button>
  </div>
</div>

<!-- Fin del buscador -->


<div class="container"
     *ngIf="this.listsManagerService.listas.length !== 0">
  <div class="row">

    <app-list *ngFor="let item of this.listsManagerService.listas; let i = index"
              [lista]="item"
              (emisorIndiceEliminar)="eliminarLista($event)"
              [indice]="i"></app-list>

  </div>
</div>
<div class="alert alert-danger text-center"
     *ngIf="this.listsManagerService.listas.length === 0"
     role="alert">
  <b>No has creado ninguna lista, por favor, hazlo con el botón en la parte superior derecha de la pantalla</b>
</div>

<button (click)="imprimirListas()">imprimir listas</button>
